body {
    height: 500vw;
    font-family: 'Apple SD Gothic Neo', 'Roboto', 'Noto Sans KR', NanumGothic, 'Malgun Gothic', sans-serif;
    /* -webkit-overflow-scrolling: touch; */
    color: #555;
    background: #001f3c;
    transition: background .5s;
}


/* 스크롤바 스타일 */
body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}

body::-webkit-scrollbar-track {
    background-color: grey;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}


.world {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    perspective: 1000px;
}

.stage {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    transform-style: preserve-3d;
}

.house {
    width: 100vw;
    height: 100vh;
    transform: translateZ(-490vw);
    transform-style: preserve-3d;
}

.wall {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.8);
}

.wall-left {
    width: 1000vw;
    transform: rotateY(90deg) translateZ(-500vw);
    display: flex;
}

.wall-left-img {
    width: 100%;
    height: 100%;
}

.wall-left-img:nth-child(1) {
    background: url(../img/gif/seal.gif) no-repeat center / cover;
}

.wall-left-img:nth-child(2) {
    position: relative;
    background: url(../img/door3_wall.jpg) no-repeat center / cover;
    perspective: 1000px;
}

.wall-left-img:nth-child(2) a {
    transform-style: preserve-3d;
}

.wall-left-img:nth-child(2) .wall-left-door {
    width: calc(212 / 1440 * 100%);
    height: calc(489 / 841 * 100%);
    position: absolute;
    left: 49.8%;
    bottom: 0;
    transform: translateX(-50%) rotateY(0deg);
    transform-origin: right;
    background: url(../img/door3.png) no-repeat 0% 55% / cover;
    border: 2px solid rgba(0, 0, 0, 0.2);
    transition: .5s;
    cursor: pointer;
}

.wall-left-img:nth-child(2) .wall-left-door.door-open {
    transform: translateX(-50%) rotateY(140deg);
}

.wall-left-img:nth-child(3) {
    background: url(../img/gif/fish2.gif) no-repeat center / cover;
}


.wall-left-img:nth-child(4) {
    background: url(../img/gif/stingray2.gif) no-repeat center / cover;
}

.wall-left-img:nth-child(5) {
    background: url(../img/gif/penguin.gif) no-repeat center / cover;
}

.wall-left-img:nth-child(6) {
    background: url(../img/gif/jellyfish2.gif) no-repeat center / cover;
}

.wall-left-img:nth-child(7) {
    background: url(../img/gif/shark2.gif) no-repeat center / cover;
}

.wall-left-img:nth-child(8) {
    background: url(../img/gif/shark1.gif) no-repeat center / cover;
}

.wall-left-img:nth-child(9) {
    background: url(../img/gif/stingray1.gif) no-repeat center / cover;
}

.wall-left-img:nth-child(10) {
    background: url(../img/gif/turtle1.gif) no-repeat center / cover;
}


.wall-right-img:nth-child(1) {
    background: url(../img/gif/shark2.gif) no-repeat center / cover;
}

.wall-right-img:nth-child(2) {
    position: relative;
    background: url(../img/door2_wall_reverse.jpg) no-repeat center / cover;
    perspective: 1000px;
}

.wall-right-img:nth-child(2) a {
    transform-style: preserve-3d;
}

.wall-right-img:nth-child(2) .wall-right-door {
    width: calc(212 / 1440 * 100%);
    height: calc(530 / 841 * 100%);
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) rotateY(0deg);
    transform-origin: right;
    background: url(../img/door2_reverse.png) no-repeat 0% 55% / cover;
    border: 2px solid rgba(0, 0, 0, 0.2);
    transition: .5s;
    cursor: pointer;
}

.wall-right-img:nth-child(2) .wall-right-door.door-open {
    transform: translateX(-50%) rotateY(140deg);
}

.wall-right-img:nth-child(3) {
    background: url(../img/gif/shark1.gif) no-repeat center / cover;
}

.wall-right-img:nth-child(4) {
    background: url(../img/gif/fish2.gif) no-repeat center / cover;
}

.wall-right-img:nth-child(5) {
    background: url(../img/gif/stingray2.gif) no-repeat center / cover;
}

.wall-right-img:nth-child(6) {
    background: url(../img/gif/turtle1.gif) no-repeat center / cover;
}

.wall-right-img:nth-child(7) {
    background: url(../img/gif/stingray1.gif) no-repeat center / cover;
}

.wall-right-img:nth-child(8) {
    background: url(../img/gif/seal.gif) no-repeat center / cover;
}

.wall-right-img:nth-child(9) {
    background: url(../img/gif/penguin.gif) no-repeat center / cover;
}

.wall-right-img:nth-child(10) {
    background: url(../img/gif/jellyfish1.gif) no-repeat center / cover;
}


.wall-right {
    width: 1000vw;
    transform: rotateY(90deg) translateZ(-400vw);
    display: flex;
}

.wall-right-img {
    width: 100%;
    height: 100%;
}

.wall-left>div,
.wall-right>div {
    border: 2px solid rgba(255, 255, 255, 0.2);
}

.wall-front-a {
    transform: translateZ(200vw);
}

.wall-content-a {
    width: 100%;
    height: 100%;
    background: url(../img/gif/text.gif) no-repeat center / cover;
    opacity: 50%;
}

.wall-front-b {
    transform: translateZ(-200vw);
}

.wall-content-b {
    width: 100%;
    height: 100%;
    opacity: 50%;
    display: flex;
    width: 100%;
    overflow: hidden;
}

.wall-content-b .slide {
    width: 100%;
    object-fit: cover;
    flex-basis: 100%;
    position: relative;
}

.wall-content-b .slide img {
    width: 100%;
}

@keyframes slide-captionTrans {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
        transform: scale(1.2);
    }
}


.wall-front-c {
    transform: translateZ(-500vw);
}

.wall-content-c {
    width: 100%;
    height: 100%;
    position: relative;
}

.entrance-wall {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../img/wallpaper2.jpg);
}

.inside-door {
    background: #1a1831;
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 45%;
    height: 100%;
    transform: translateX(-50%)
}

.door {
    /* background: yellowgreen; */
    position: absolute;
    left: 0;
    bottom: 0;
    width: 24vw;
    height: 100%;
    cursor: pointer;
    transition: all 0.5s;
}

.wall-content-c a {
    display: block;
    width: 33vw;
}

.left-door {
    left: 50%;
    transform: translateX(-100%);
    background: url(../img/left_door.jpg) no-repeat center right / cover;
}

.left-door.left-door-open {
    transform: translateX(-150%);
}

.right-door {
    left: 50%;
    background: url(../img/right_door.jpg) no-repeat center left / cover;
}

.right-door.right-door-open {
    transform: translateX(50%);
}


/* 진행 막대기 바 */
.progress-bar-con {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100vw;
    height: 6px;
    background: #eee;
    border-bottom: 1px solid #999;
}

.progress-bar {
    width: 0;
    height: 100%;
    background: #ee0;
}


/* 꼬부기 */
.character {
    position: absolute;
    /* left: 40%; */
    bottom: 3%;
    width: 20vw;
    height: 20vw;
    transform-style: preserve-3d;
}

/* 꼬부기 방향 */
.character[data-direction='forward'] {
    transform: rotateY(180deg);
}

.character[data-direction='backward'] {
    transform: rotateY(0deg);
}

.character[data-direction='left'] {
    transform: rotateY(-85deg);
}

.character[data-direction='right'] {
    transform: rotateY(85deg);
}

/* 각 부위별 container */
.character-face-con {
    position: absolute;
    transform-style: preserve-3d;
    transition: 1s;
}

/* 실제 각각의 앞면 뒷면 */
.character-face {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.character-face.face-back {
    transform: rotateY(180deg);
}

.character-head {
    left: calc(134 / 500 * 100%);
    top: 3px;
    z-index: 60;
    width: calc(231 / 500 * 100%);
    height: calc(205 / 500 * 100%);
    transform-origin: center bottom;
    animation: ani-head 0.6s infinite alternate cubic-bezier(0.46, 0.18, 0.66, 0.93);
}

.character-head-face.face-front {
    background-image: url('../img/ggobugi/front/head.png');
}

.character-head-face.face-back {
    background-image: url('../img/ggobugi/back/head.png');
}

.character-torso {
    left: calc(107 / 500 * 100%);
    top: calc(133 / 500 * 100%);
    z-index: 50;
    width: calc(288 / 500 * 100%);
    height: calc(289 / 500 * 100%);
    transform-origin: center center;
    transition: none;
}

.character[data-direction="forward"] .character-torso {
    z-index: 70;
    transition: none;
}

.character-torso-face.face-front {
    background-image: url('../img/ggobugi/front/shell.png');
}

.character-torso-face.face-back {
    background-image: url('../img/ggobugi/back/shell.png');
}

.character-arm-right {
    left: calc(342 / 500 * 100%);
    ;
    top: calc(164 / 500 * 100%);
    width: calc(134 / 500 * 100%);
    height: calc(148 / 500 * 100%);
    transform-origin: left top;
    z-index: 55;
}

.character-arm-right .face-front {
    background-image: url('../img/ggobugi/front/right_arm.png');
}

.character-arm-right .face-back {
    background-image: url('../img/ggobugi/back/right_arm.png');
}

.character-arm-left {
    left: calc(24 / 500 * 100%);
    ;
    top: calc(169 / 500 * 100%);
    width: calc(134 / 500 * 100%);
    height: calc(148 / 500 * 100%);
    transform-origin: right top;
    z-index: 55;
}

.character-arm-left .face-front {
    background-image: url('../img/ggobugi/front/left_arm.png');
}

.character-arm-left .face-back {
    background-image: url('../img/ggobugi/back/left_arm.png');
}

.character-leg.face-back {
    transform: rotateY(180deg);
}

.character-leg-right {
    left: calc(292 / 500 * 100%);
    top: calc(357 / 500 * 100%);
    width: calc(104 / 500 * 100%);
    height: calc(136 / 500 * 100%);
    transform-origin: center top;
    z-index: 63;
}

.character-leg-right .face-front {
    background-image: url('../img/ggobugi/front/right_leg.png');
}

.character-leg-right .face-back {
    background-image: url('../img/ggobugi/back/right_leg.png');
}

.character-leg-left {
    left: calc(108 / 500 * 100%);
    top: calc(357 / 500 * 100%);
    width: calc(104 / 500 * 100%);
    height: calc(136 / 500 * 100%);
    transform-origin: center top;
    z-index: 63;
}

.character-leg-left .face-front {
    background-image: url('../img/ggobugi/front/left_leg.png');
}

.character-leg-left .face-back {
    background-image: url('../img/ggobugi/back/left_leg.png');
}

.character-tail {
    left: calc(321 / 500 * 100%);
    top: calc(297 / 500 * 100%);
    width: calc(162 / 500 * 100%);
    height: calc(121 / 500 * 100%);
    transform-origin: left bottom;
    animation: ani-tail 0.3s alternate infinite linear;
    transition: none;
}

.character[data-direction="forward"] .character-tail {
    left: calc(140 / 500 * 100%);
    top: calc(260 / 500 * 100%);
    width: calc(126 / 500 * 100%);
    height: calc(177 / 500 * 100%);
    transform-origin: right bottom;
    z-index: 70;
    animation: ani-tail2 0.3s alternate infinite linear;
    transition: none;
}

.character[data-direction='left'] .character-tail,
.character[data-direction='right'] .character-tail {
    display: none;
}

.character-tail .face-front {
    background-image: url('../img/ggobugi/front/tail.png');
}

.character-tail .face-back {
    background-image: url('../img/ggobugi/back/tail.png');
}

/* 움직이는 모션 */
.character.running .character-leg-right {
    animation: ani-running-leg 0.2s alternate infinite linear;
}

.character.running .character-leg-left {
    animation: ani-running-leg 0.2s alternate-reverse infinite linear;
}

.character.running .character-arm {
    animation: ani-running-arm 0.2s alternate infinite linear;
}

/* 
.character.running .character-head {
    animation: none;
} */


/* 애니메이션 */
@keyframes ani-head {
    from {
        transform: rotateZ(5deg);
    }

    to {
        transform: rotateZ(-5deg);
    }

}

@keyframes ani-tail {
    to {
        transform: rotateZ(-10deg);
    }
}

@keyframes ani-tail2 {
    to {
        transform: rotateZ(10deg);
    }
}

@keyframes ani-running-leg {
    from {
        transform: rotateX(-30deg);
    }

    to {
        transform: rotateX(30deg);
    }
}

@keyframes ani-running-arm {
    from {
        transform: rotateY(30deg);
    }

    to {
        transform: rotateY(-30deg);
    }
}

